/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "materialize";

nav ul a,
nav .brand-logo {
  color: #444;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

.nav-icons {
  margin-right: 25px;
  width: inherit;
  height: 60px;
  display: inline-block;
  float: right;
}

.icon-links {
  opacity: 0.5;
  display: inline-block;
  list-style-type: none;
  float: right;
  -moz-transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
}

.icon-links:hover {
  opacity: 1.0;
  -moz-transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
}

main {
  flex: 1 0 auto;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#brand-text {
  margin-left: 10px;
  font-size: 25px;
}

#logo {
  max-height: 40px;
  width: auto;
  vertical-align: middle;
  margin-left: 20px !important;
  margin-bottom: 6px;
}

.arrow_right {
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 50px;
    width: 50px;
    float: left;
    margin-left: 50px;
    background-image: url("../images/arrow-back.svg");
    background-size: 30px, 30px;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
    background-color: #ffffff;
}

.arrow_left {
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 50px;
  width: 50px;
  float: right;
  margin-right: 50px;
  background-image: url("../images/arrow-forward.svg");
  background-size: 30px, 30px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0px 0px 0px #000000;
  -webkit-transition: box-shadow 0.3s ease;
     -moz-transition: box-shadow 0.3s ease;
}

.arrow_left:hover,
.arrow_right:hover {
  box-shadow: 0px 0px 2px #000000;
  -webkit-transition: box-shadow 0.3s ease;
     -moz-transition: box-shadow 0.3s ease;
}

#navbar {
  background-color: #FFF;
  width: 100%;
  height: 50px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
  width: 100%;
}

.page_item span {
  display: block;
  color: #444;
  line-height: 50px;
  text-align: center;
  width:90px;
  height:50px;
}

.page_item {
  display: inline-block;
  list-style-type: none;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -moz-transition: border-bottom 0.3s ease, color 0.3s ease;
  -webkit-box-sizing:border-box;
  -webkit-transition: border-bottom 0.3s ease, color 0.3s ease;
  border-bottom: 0px solid #FFFFFF;
}

.page_item span:hover {
  color: #2cd3bd;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -moz-transition: border-bottom 0.3s ease, color 0.3s ease;
  -webkit-box-sizing:border-box;
  -webkit-transition: border-bottom 0.3s ease, color 0.3s ease;
  border-bottom: 5px solid #2cd3bd;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}


.no-display{
  display: none;
}

span.invalid{
  color: red;
  font-size: 0.85rem;
}

@media(max-width: 600px){
  #profile-avatar{
    width: 100px; 
    height: 100px;
    position:relative;
    left: 50%;
    transform: translateX(-50%);
  }

  #profile-name{
    text-align: center;
  }
}

@media(min-width: 601px){
  #profile-avatar{
    width: 120px;
    height: 120px;
  }

  #profile-name{
    padding-top: 25px;
  }
}

@media(min-width: 993px){
  #profile-avatar{
    width:150px;
    height: 150px;
  }

  #profile-name{
  padding-top: 35px;
  }
}

@media(max-width: 601px){
  .col.no-padding-on-small, .no-padding-on-small{
    padding:0px; 
  }
  
  .no-margin-on-small{
    margin: 0px;
  }
  
  .max-width-on-small{
    width: 100%; 
  }
}

@media(max-width: 601px){
  .col.no-padding-on-small, .no-padding-on-small{
    padding:0px; 
  }
  
  .no-margin-on-small{
    margin: 0px;
  }
  
  .max-width-on-small{
    width: 100%; 
  }
}

.slider ul.indicators li.indicator-item.active{
  background-color: #009688;
}

#attendees-list li:not(li:nth-child(even)){
  padding: 15px 20px;
}

#attendees-list li img{
  width: 70px;
  height: 70px;
}

#attendees-list li:nth-child(even){
  margin: 15px 0;
}

#attendees-list li p{
  display: inline; 
  vertical-align: top; 
  line-height: 70px; 
  font-size: 1.2rem; 
  margin-left: 20px;
}

.hidden{
  display: none;
}